@media (max-width: 576px) {
    .chakra-grid {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 10px;
    }

    .chakra-grid img {
     
      height: auto;
    }

    .chakra-grid .chakra-grid-item {
      margin-bottom: 10px;
      text-align: center;


    }
    .fade-in {
        animation: fade-in 1s ease-in-out ;

      }

      @keyframes fade-in {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

  }