@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

 :root {
    --lilac: #01395C;
    --lightpurple: #6A1B9A;
    --purple: #512872;
    --red: #DA0808;
    --white: #FFFFFF; 
   }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}